<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{pageName}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-files-o fa-5x"></i>
                    </div>
                    <div class="col-xs-1"> </div>
                    <div class="col-xs-8 text-right">
                        <div class="huge">{{fileCount}}</div>
                        <div ng-if="!username">Files in the cloud</div>
                        <div ng-if="username">Files in your cloud</div>
                    </div>
                </div>
            </div>
            <a href="#" ng-if="username">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i
                            class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cloud fa-5x"></i>
                    </div>
                    <div class="col-xs-1"> </div>
                    <div class="col-xs-8 text-right">
                        <div class="huge">{{fileSizes}}</div>
                        <div ng-if="!username">Megabytes in the cloud </div>
                        <div ng-if="username">Megabytes in your cloud </div>
                    </div>
                </div>
            </div>
            <a href="#" ng-if="username">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i
                            class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<h3><span>Welcome to File Locker<span ng-if="username">, {{username}}</span>.
</h3>
<p>A super secure file storage system. Really! We can't even read what you
    upload! Maybe the NSA can, but most people can't! Protect your data
    today.</p>