<div>
    <div ng-show="dialogConfig.mode === 'upload'">
        <form name="uploadform">
            <div class="form-group">
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input class="form-control" id="tags"
                           ng-model="dialogConfig.tags"
                           id="uploadtags">
                    <label for="desc">Description</label>
                    <input class="form-control" id="desc"
                           ng-model="dialogConfig.description"
                           id="uploaddesc">

                    <p class="help-block">Enter a few tags and a description to
                        make searching for the file easier.</p>
                </div>
                <div class="form-group">
                    <label>Select a file to upload</label>
                    <input type="file" id="uploadfile">
                    <input type="hidden" id="filename" value="{{$('#uploadfile').files[0].name}}" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Enter an
                        encryption passphrase</label>
                    <input type="text" class="form-control"
                           ng-model="dialogConfig.passphraseup"
                           id="passphraseup"
                           required>
                </div>
                <button type="button" class="btn btn-success btn-lg"
                        ng-click="dialogConfig.callback()" id="uploadbtn"
                        ng-disabled="uploadform.$invalid">
                    Upload File
                </button>
                <button type="button" class="btn btn-default btn-lg"
                        ng-click="toggleModal()">Cancel
                </button>
            </div>
        </form>
    </div>
    <div ng-show="dialogConfig.mode === 'delete'">
        <form>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            Are you Sure?
                        </div>
                        <div class="panel-body">
                            <p>You are about to delete
                                {{dialogConfig.file.name}}</p>

                            <p>Are you sure? This cannot be undone.</p>
                            <button type="button" class="btn btn-danger btn-lg"
                                    ng-click="dialogConfig.callback()"
                                    id="deletebtn">Yep. Do it.
                            </button>
                            <button type="button" class="btn btn-default btn-lg"
                                    ng-click="toggleModal()">
                                Whoops! Don't do it!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="dialogConfig.mode === 'update'">
        <form nanme="updateform">
            <div class="form-group">
                <div class="form-group">
                    <label>Filename</label>
                    <input class="form-control"
                           ng-model="dialogConfig.file.name"
                           id="updfilename"
                           required>

                    <p class="help-block">Change the current filename for this
                        file.</p>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <input class="form-control"
                           ng-model="dialogConfig.file.tags" id="updtags">
                    <label>Description</label>
                    <input class="form-control"
                           ng-model="dialogConfig.file.description"
                           id="upddesc">

                    <p class="help-block">Change the current description or tags
                        on this file.</p>
                </div>
                <button type="button" class="btn btn-primary btn-lg"
                        ng-click="dialogConfig.callback()" id="updatebtn"
                        ng-disabled="updateform.$invalid">Save
                </button>
                <button type="button" class="btn btn-default btn-lg"
                        ng-click="toggleModal()">Cancel
                </button>
            </div>
        </form>
    </div>
    <div ng-show="dialogConfig.mode === 'download'">
        <form name="downloadform">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Enter the
                        encryption passphrase</label>
                    <input type="text" class="form-control"
                           ng-model="dialogConfig.passphrasedn"
                           id="passphrasedn" required>
                </div>
                <button type="button" class="btn btn-primary btn-lg"
                        ng-click="dialogConfig.callback()" id="download"
                        ng-disabled="downloadform.$invalid">
                    Download File
                </button>
                <button type="button" class="btn btn-default btn-lg"
                        ng-click="toggleModal()">Cancel
                </button>
            </div>
        </form>
    </div>
    <div ng-show="dialogConfig.mode === 'wrongkey'" id="wrongkey">
        <form>
            <div class="col-lg-12">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        Could not authenticate.
                    </div>
                    <div class="panel-body">
                        <p>Sorry, but your passphrase was not correct. Please
                            try again.</p>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg"
                    ng-click="toggleModal()">Okay
            </button>
        </form>
    </div>
</div>