<div class="rotating" ng-show="show">
    <svg>
        <circle cx="50" cy="50" r="50"
                style="fill:rgb(77, 89, 192);stroke-width:3;stroke:rgb(255, 255, 255)"></circle>
        <circle cx="50" cy="50" r="40"
                style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(255, 255, 255)"></circle>
        <path d="M50,50 L50,0, A50,50 1 0,1 100,50 z"
              style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(255, 255, 255)"></path>
        <path d="M50,50 L50,100, A50,50 1 0,1 0,50 z"
              style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(255, 255, 255)"></path>
    </svg>
</div>